/.git
/.idea
/runtime
/backup
/public/uploads
*.log
/public/install/install.lock
public/admin/
/.env
/swoole.pid
public/pages/
public/static/
help/docker-compose/mysql/data/mysql/
help/docker-compose/mysql/data/

# Ignore compiled assets and temporary files
.DS_Store
**/.DS_Store
public/supplier/view_admin/
public/statics/mp_view/
vendor/alipaysdk/easysdk/java/
*.xlsx
*.mp3

# Ignore all public directory compiled assets
public/assets/
public/statics/
public/install/
public/*.html
public/*.php
public/*.ico
public/*.htaccess
public/upgrade/

# Ignore compiled assets and temporary files
.DS_Store
**/.DS_Store
public/supplier/view_admin/
public/statics/mp_view/
vendor/alipaysdk/easysdk/java/
*.xlsx
*.mp3
